{% extends 'base.html' %}
{% block content %}

<h1>Chapstick Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ chapstick.location }} Chapstick</span>
    <p>Flavour: {{ chapstick.flavour }}</p>
    <p>Description: {{ chapstick.description|linebreaks }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'chapsticks_update' chapstick.id %}">Edit</a>
    <a href="{% url 'chapsticks_delete' chapstick.id %}">Delete</a>
  </div>

  <div class="col s6">
    <table class="striped">
      <thead>
        <tr>
          <th>Date of the Incident</th>
          <th>Size of the Chew Mark</th>
        </tr>
      </thead>
      <tbody>
        {% for bite in chapstick.chewmark_set.all %}
        <tr>
          <td>{{bite.date}}</td>
          <td>{{bite.get_size_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}