{% extends 'base.html' %}
{% block content %}

<h1>Chapstick Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ chapstick.location }} Chapstick</span>
    <p>Flavour: {{ chapstick.flavour }}</p>
    <p>Description: {{ chapstick.description|linebreaks }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'chapsticks_update' chapstick.id %}">Edit</a>
    <a href="{% url 'chapsticks_delete' chapstick.id %}">Delete</a>
  </div>

  <div class="col s6">
    <!-- New Markup Below -->
    <form action="{% url 'add_chewmark' chapstick.id %}" method="POST">
      {% csrf_token %}
      <!-- Render the inputs -->
      {{ chewmark_form.as_p }}
      <input type="submit" class="btn" value="Add Chew Mark">
    </form>
    <!-- include an if statements if chewmark count is more than 3 on the chapstick -->
    {% if chapstick.count_chewmarks > 2 %}
    <div class="card-panel teal-text center-align">This chapstick has seen better days</div>
    {% else%}
    <div class="card-panel teal-text center-align">Good as new</div>
    {% endif %}
    <!-- New Markup Above -->
    <table class="striped">
      <thead>
        <tr>
          <th>Date of the Incident</th>
          <th>Size of the Chew Mark</th>
        </tr>
      </thead>
      <tbody>
        {% for bite in chapstick.chewmark_set.all %}
        <tr>
          <td>{{bite.date}}</td>
          <td>{{bite.get_size_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
  <div class="row">
    <div class="col s6">
      <h3>{{ chapstick.location }} Chapstick's Sidekicks</h3>
      {% if chapstick.sidekicks.count %}
      {% for sidekick in chapstick.sidekicks.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A <span>{{ sidekick.name }}</span> {{ sidekick.power }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'unassoc_sidekick' chapstick.id sidekick.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5>No Sidekicks</h5>
      {% endif %}
    </div>
    <div class="col s6">
      <h3>Available Sidekicks</h3>
      {% if sidekicks.count %}
      {% for sidekick in sidekicks.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <span>{{ sidekick.name }}</span>: {{ sidekick.power }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_sidekick' chapstick.id sidekick.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5>{{cat.name}} Already Has All sidekicks Available</h5>
      {% endif %}
    </div>




  </div>






  <!-- below all HTML -->
  <script>
    const dateEl = document.getElementById('id_date');
    // M is Materialize's global variable
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    // add additional JS to initialize select below
    const selectEl = document.getElementById('id_size');
    M.FormSelect.init(selectEl);
  </script>
  {% endblock %}