<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chapstick Collectors Unite!!</title>
</head>

<body>
  <h1>Hello Collectors</h1>
  <p>Welcome to the official website of the Chapstick Collectors Society! This is a safe place. Here you can find fellow
    chapstick enthusiasts, share tips and tricks, and show off your amazing chapstick collection that you keep all over
    the house and your vehicles.</p>
</body>

</html>